/**
  * Homepage styles
  *
  */

@import url("https://fonts.googleapis.com/css2?family=Assistant&display=swap");

* {
  font-family: "Assistant", sans-serif;
}

:root {
  --testimonial-max-width: 40ch;
}

.page-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  height: 100lvh;
}

.site-nav {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  padding-inline-start: 0;
}

.testimonial-section {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  list-style-type: none;
  padding-inline-start: 0;
}

.testimonial {
  display: flex;
  flex-direction: column;
  max-width: var(--testimonial-max-width);
}

.socials {
  display: flex;
  list-style-type: none;
  padding-inline-start: 0;
}

footer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main {
  padding: 0 75px;
}

.featured {
  display: flex;
  justify-content: center;
}

.featured > img {
  width: 100%;
}

.testimonial-picture {
  display: flex;
  justify-content: center;
}

.testimonial-heading {
  align-self: center;
}
